{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-async-to-generator",
    "transform-strict-mode", [
      "transform-runtime", {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
