{
  "presets": [
    "es2015",
    "flow"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "plugins": [
    "dynamic-import-node",
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-strict-mode",
    "transform-regenerator", [
      "transform-runtime", {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
