# Example .env file. Please fill in the values.

# API key for Fanart.
FANART_KEY=

# API key for Omdb.
OMDB_KEY=

# API key for Nyaa.
NYAA_KEY=

# API key for Tmdb.
TMDB_KEY=

# API key for Trakt.
TRAKT_KEY=

# API key for Tvdb.
TVDB_KEY=

# The base name of the MongoDB database.
MONGO_DATABASE=

# The URI to the MongoDB database.
# Needs to be named like this because of GitLab CI.
MONGO_URI=

# The port of the MongoDB database.
MONGO_PORT=

# The username of the MongoDB database.
MONGO_USER=

# The password of the MongoDB database.
MONGO_PASS=

# The time between cronjobs.
CRON_TIME=

# The location of the temporary directory for the logs.
TEMP_DIR=

# The port the API wil be running on.
PORT=
