{
  "parser": "babel-eslint",
  "env": {
    "node": true,
  },
  "rules": {
   "arrow-parens": ["off"],
   "consistent-return": "off",
   "comma-dangle": "off",
   "generator-star-spacing": "off",
   "no-use-before-define": "off"
  }
}
